
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details">
  <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">{{ data['claimant-name'] }}</dd>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dd class="dwp-key-details-bar__secondary">{{ data['claimant-nino'] }}</dd>
      <dt class="govuk-visually-hidden">Claim status:</dt>

  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>{{ data['claimant-dob'] }}</dd>
      <dt>Postcode:</dt>
      <dd>{{ data['claimant-postcode'] }}</dd>
      <dt>UK telephone number:</dt>
      <dd>{{ data['claimant-contact-number'] }}</dd>

  </dl>
  </div>
  </section>


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="2-incomplete" aria-current="location">Decision and dates</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings-incomplete-note">Employment and earnings</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-bank-details-and-payments-incomplete-note">Bank details and payments</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-evidence-2-employers-incomplete-note">Evidence</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-incomplete-note">Claim history</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ-incomplete-note.html">Change of circumstance</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-preferences-incomplete-note.html">Preferences</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-note-entered">Notes</a>
                </li>

              </ul>
            </nav>
          </nav>
          <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div>

        <div class="govuk-grid-column-three-quarters">

          <section id="employment-and-earnings" class="govuk-!-padding-top-6">

            <h2 class="govuk-heading-m" id="employment-and-earnings">Contact details</h2>

            <table class="govuk-table">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-2">86 Pear Tree Grove,Chelsea</p><p class="govuk-body govuk-!-margin-bottom-2">London</p><p<p class="govuk-body govuk-!-margin-bottom-2">NE7 9RS</p></td>
                <td class="govuk-table__cell">  </td>
              </tr>
                <th scope="row" class="govuk-table__header">Telephone number</th>
                <td class="govuk-table__cell">07847171740</td>
                <td class="govuk-table__cell">  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">{{ data['claimant-email'] }}</td>
                <td class="govuk-table__cell">  </td>
              </tr>
          
          
          </tbody>
          </table>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Update contact details
            </button></a>


            <h2 class="govuk-heading-m" id="employment-and-earnings">Reasonable adjustments</h2>

            <div class="govuk-hint">
              There are no reasonable adjustments for this claim.
            </div>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Add reasonable adjustment
            </button></a>

            </section>
</div>
{% from "govuk/components/table/macro.njk" import govukTable %}


{% endblock %}
