
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">{{ data['claimant-name'] }}</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
  <dd class="dwp-quick-reference__secondary">{{ data['claimant-nino'] }}</dd>
  <dt class="dwp-quick-reference__label">Claim status:</dt>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--grey">
     Closed 
    </strong>
  </dd>
  </dl>
  </section> 


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="1-decision-close-Sc2.html" aria-current="location">Decision and dates</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-preferences-close-Sc2.html">Claimant information</a>
                </li> 

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-bank-details-and-payments-close-Sc2.html">Payments</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings-close-Sc2.html">Employment and earnings</a>
                </li> 
                
                <li class="moj-side-navigation__item">
                  <a href="1-evidence-close-Sc2.html">Evidence</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ-close-Sc2.html">Change of circumstance</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-overlays-deductions-close-Sc2.html">Overlaps and deductions</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-close-Sc2.html">Claim history</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-note">Notes</a>
                </li>
           

              </ul>
            </nav>
          </nav>
          <p>
           <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div>

        <div class="govuk-grid-column-three-quarters">







<section id="Payments overview">
  <h2 class="govuk-heading-m">Payments overview</h2>

  <!--<table class="govuk-table">

      
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        <div class="govuk-warning-text govuk-body govuk-!-margin-bottom-0">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning.</span>
          There are unassigned earnings. <p>Manage unassigned earnings to calculate payments</p>
        </strong>
      </div></th>
      <td class="govuk-table__cell">&nbsp;</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="/beta-private/iteration-29/find-a-claim/unallocated/unallocated-earnings">
        Manage<span class="govuk-visually-hidden"> manage unassigned earnings</span>
      </a></td>
    </tr>
  
  
  </table>-->



  <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Estimated total</th>
      <td class="govuk-table__cell">£689.92</td>
      <td class="govuk-table__cell"> </td>
      <td class="govuk-table__cell"> 
 
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Payment frequency</th>
      <td class="govuk-table__cell">{{ data['payment-frequency'] }}</td>
      <td class="govuk-table__cell"> </td>
      <td class="govuk-table__cell"> 
      <a class="govuk-link" href="/beta-private/iteration-38/payments/payment-frequency">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>
    </td>
    </tr>

</tbody>
</table>

<table class="govuk-table">

  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header app-custom-class"></th>
      <th scope="col" class="govuk-table__header app-custom-class">Period start date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Period end date</th>
      <th scope="col" class="govuk-table__header app-custom-class">Amount</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">First payment</th>
      <td class="govuk-table__cell">3 April 2024</td>
      <td class="govuk-table__cell">30 April 2024</td>
      <td class="govuk-table__cell">£689.92</td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Last payment</th>
      <td class="govuk-table__cell">3 April 2024</td>
      <td class="govuk-table__cell">30 April 2024</td>
      <td class="govuk-table__cell">£689.92</td>
    </tr>

  </tbody>
</table>

    </section>

    <a href="../Sc1/payment-suspend-radio-Sc1.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Suspend payments 
    </a>


  <section id="payments" class="govuk-!-padding-top-9">
    <h2 class="govuk-heading-m">Maternity Allowance payments</h2>
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          Date
        </dt>
        <dd class="govuk-summary-list__value">
          <strong>Amount</strong>
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong>Status</strong>
        </dd>
      </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key govuk-!-width-one-half">
          1 May 2024
        </dt>
        <dd class="govuk-summary-list__value">
          £689.92
        </dd>
        <dd class="govuk-summary-list__actions">
          <strong class="govuk-tag govuk-tag--green">
            Issued
          </strong>
        </dd>
      </div>
  

      </div>

      </dl>


    </section>


      </div>
    </div>
  {% endblock %}
