
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">{{ data['claimant-name'] }}</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
  <dd class="dwp-quick-reference__secondary">{{ data['claimant-nino'] }}</dd>
  <dt class="dwp-quick-reference__label">Claim status:</dt>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--grey">
     Closed 
    </strong>
  </dd>
  </dl>
  </section>


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="1-decision-close-Sc2.html" aria-current="location">Decision and dates</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-preferences-close-Sc2.html">Claimant information</a>
                </li> 
                
                <li class="moj-side-navigation__item">
                  <a href="1-bank-details-and-payments-close-Sc2.html">Payments</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings-close-Sc2.html">Employment and earnings</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-evidence-close-Sc2.html">Evidence</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-change-of-circ-close-Sc2.html">Change of circumstance</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-overlays-deductions-close-Sc2.html">Overlaps and deductions</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-close-Sc2.html">Claim history</a>
                </li> 
                
                <li class="moj-side-navigation__item">
                  <a href="1-note">Notes</a>
                </li>
 

              </ul>
            </nav>
          </nav>
          <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div>

        <div class="govuk-grid-column-three-quarters">

          <section id="employment-and-earnings" class="govuk-!-padding-top-6">

            <h2 class="govuk-heading-l" id="employment-and-earnings">Change of circumstance</h2>

            <div class="govuk-hint">
              There are no reported changes for this claim.
            </div>

            <a href="{{changeurls.suspendPayments}}"><button class="govuk-button" data-module="govuk-button">
              Add change of circumstance
            </button>
          </a>

            </section>
</div>
{% from "govuk/components/table/macro.njk" import govukTable %}


{% endblock %}
