
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">{{ data['claimant-name'] }}</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
  <dd class="dwp-quick-reference__secondary">{{ data['claimant-nino'] }}</dd>
  <dt class="dwp-quick-reference__label">Claim status:</dt>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--grey">
     Closed 
    </strong>
  </dd>
  </dl>
  </section>


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="1-decision-close-Sc2.html" aria-current="location">Decision and dates</a>
                </li> 

                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-preferences-close-Sc2.html">Claimant information</a>
                </li>
                
                <li class="moj-side-navigation__item">
                  <a href="1-bank-details-and-payments-close-Sc2.html">Payments</a>
                </li>                 

                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings-close-Sc2.html">Employment and earnings</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-evidence-close-Sc2.html">Evidence</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ-close-Sc2.html">Change of circumstance</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-overlays-deductions-close-Sc2.html">Overlaps and deductions</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-close-Sc2.html">Claim history</a>
                </li> 

                <li class="moj-side-navigation__item">
                  <a href="1-note">Notes</a>
                </li>
 
              </ul>
            </nav>
          </nav>
          <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div>

        <div class="govuk-grid-column-three-quarters"> 

                    <!-- Date of birth --> 
        
 

                    <section id="bank-details" class="govuk-!-padding-top-6">
                      <table class="govuk-table">
                         <caption class="govuk-table__caption govuk-table__caption--m">Claimant details</caption>
          
                     <tbody class="govuk-table__body">
                       <tr class="govuk-table__row">
                       <th scope="row" class="govuk-table__header">Name</th>
                       <td class="govuk-table__cell">{{ data['claimant-name'] }}</td>
                       </tr> 
                       
                       <tr class="govuk-table__row">
                       <th scope="row" class="govuk-table__header">Date of birth</th>
                       <td class="govuk-table__cell">{{ data['claimant-dob']}}</td>
                     </tr> 
          
           
          
                     </tbody>
                    </table>
                    </section> 

                    <!-- contact-preference-details --> 

          <section id="employment-and-earnings" class="govuk-!-padding-top-6">

            <h2 class="govuk-heading-m" id="employment-and-earnings">Contact details</h2>

            <table class="govuk-table">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-2">86 Pear Tree Grove,Chelsea,</p><p class="govuk-body govuk-!-margin-bottom-2">London</p><p<p class="govuk-body govuk-!-margin-bottom-2">NE7 9RS</p></td>
                <td class="govuk-table__cell">  </td>
              </tr>
                <th scope="row" class="govuk-table__header">Telephone number</th>
                <td class="govuk-table__cell">07847171740</td>
                <td class="govuk-table__cell">  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">k.ash16@gmail.com</td>
                <td class="govuk-table__cell">  </td>
              </tr>
          
          
          </tbody>
          </table>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Update contact details
            </button></a> 

                      <!-- Bank details  -->            

         <section id="bank-details" class="govuk-!-padding-top-6">
          <table class="govuk-table">
             <caption class="govuk-table__caption govuk-table__caption--m">Bank details</caption>

         <tbody class="govuk-table__body">
           <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Name on the account</th>
           <td class="govuk-table__cell">{{ data['claimant-name'] }}</td>
           </tr> 
           
           <tr class="govuk-table__row">
           <th scope="row" class="govuk-table__header">Sort code</th>
           <td class="govuk-table__cell">{{ data['sort-code'] }}</td>
         </tr>

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Account number</th>
      <td class="govuk-table__cell">{{ data['account-number'] }}</td>
    </tr>

     </tbody>
   </table> 

<form class="form" method="post" novalidate>

  <input type="hidden" name="answers-checked" value="true">

  {{ govukButton({
    text: "Edit bank details"
  }) }}

</form>
</section>  

    <!-- Residency details  -->

    <section id="residency-details" class="govuk-!-padding-top-6">

      <h2 class="govuk-heading-m" id="residency-details">Residency details</h2>

      <div class="govuk-hint">
        The correspondence address maybe different from the residential address. You can edit the residency details at any time. 
      </div>

      <a href="#"><button class="govuk-button" data-module="govuk-button">
        Manage residency details 
      </button></a>

</section> 

  <!-- Reasonable adjustments -->


            <h2 class="govuk-heading-m" id="employment-and-earnings">Reasonable adjustments</h2>

            <div class="govuk-hint">
              There are no reasonable adjustments for this claim.
            </div>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Add reasonable adjustment
            </button></a>

            </section>
</div>
{% from "govuk/components/table/macro.njk" import govukTable %}


{% endblock %}
