audit=false
@dwp:registry=https://registry.npmjs.org/
# @dwp:registry=https://gitlab.com/api/v4/projects/77167363/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=${GITLAB_REGISTRY_TOKEN}
save-exact = true
tag-version-prefix = ""
ignore-scripts = true
