
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
<form class="form" method="post" novalidate>

  {% from "govuk/components/input/macro.njk" import govukInput %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %} 

    <!-- value: data['i5stopWorkReasonAnswer'], and this  action="/i5-stop-work-reason" use later --> 

  {{ govukRadios({
    name: "stopped-work",
    name: "stopped-work", 
  
    
    fieldset: {
      legend: {
        text: "Has the claimant stopped work to have their baby or for another reason?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    items: [

      {
        value: "mat",
        text: "Maternity leave"
      },
      {
        value: "sick",
        text: "Sick leave"
      },
      {
        value: "ended",
        text: "Ended work (for example, quit or made redundant)"
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "Claimant has not stopped work yet"
      }
    ]
  }) }}

  


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Continue"
}) }}
</form>
</div></div>
{% endblock %}
