classes: "govuk-radios--inline",
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "stopped-work-reason-manage",
        name: "stopped-work-reason-manage",
        fieldset: {
          legend: {
            text: "Why has the claimant stopped work?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "maternity",
            text: "Maternity leave"
          },
          {
            value: "sick",
            text: "Sick leave"
          },
          {
            value: "ended-work",
            text: "Ended work"
          },
          {
            value: "non-pregnancy-related",
            text: "Non-pregnancy related absence (for example, compassionate leave)"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
