
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "benefit-start-date",
          namePrefix: "benefit-start-date",
          fieldset: {
            legend: {
              text: "When did the claimant's sickness benefit start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          }
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
