
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "reason-one-off-payment",
  fieldset: {
    legend: {
      text: "Select the reason for the one-off payment",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "MATB1-delay",
      text: "Backdating payment due to the MAT-B1 not being processed"
    },
    {
      value: "SMP-delay",
      text: "Backdating payment due to the SMP not being processed"
    },
    {
      value: "other",
      text: "Other"
    } 
  ]
}) }}


  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
