
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">One-off payment details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Amount of payment</th>
      <td class="govuk-table__cell">£690.92</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-MA-end-date.html">
        Change<span class="govuk-visually-hidden"> name</span>
    </tr>
      <th scope="row" class="govuk-table__header">Reason for payment</th>
      <td class="govuk-table__cell">MAT-B1 not processed</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-MA-end-date.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Bank account</th>
      <td class="govuk-table__cell">Goli Ash, <br>22-22-22,<br>98766789 </td> 
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date of issued</th>
     
      <td class="govuk-table__cell">24 May 2024</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name of agent issued</th>
      <td class="govuk-table__cell">Gustavo Fring</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Name of team leader approved</th>
      <td class="govuk-table__cell">Peter Johnson</td>
      <td class="govuk-table__cell"> <a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

</tbody>
</table>

  
  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
