
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" method="post" novalidate>
        
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "scenario",
        fieldset: {
          legend: {
            text: "Maternity Allowance Private Beta",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "scenario-1",
            text: "Scenario 1"
          },
          {
            value: "scenario-2",
            text: "Scenario 2"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Descriptions
          </span>
        </summary>
        <div class="govuk-details__text">
          <ol class="govuk-list govuk-list--number">
            <li>MAST-2151 Claim status changes</li> 
          </ol> 
          
          <p><a href="../sandbox/">Sandbox</a></p>
        </div>
      </details>

    </form>

    </div>
  </div>

{% endblock %}