
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="hidden">
        Maternity Allowance
      </h1>

        <ul class="govuk-list">
          <li class="bigbox">
            <a href="../iteration-38/start-a-claim/index.html" class="govuk-heading-l govuk-!-font-weight-bold">Start a claim</a>
          </li>
          <li class="bigbox">
            <a href="/beta-private/iteration-38/find-a-claim/" class="govuk-heading-l govuk-!-font-weight-bold">Find a claim</a>
          </li>
        </ul>


        <!-- <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Complete journeys
            </span>
          </summary>
          <div class="govuk-details__text">
            <ul class="govuk-list">
              <li class="bigbox">
                <a href="/beta-private/iteration-17/start-a-claim/" class="govuk-heading-l govuk-!-font-weight-bold">Start a claim</a>
              </li>
              <li class="bigbox">
                <a href="/beta-private/iteration-17/find-a-claim/" class="govuk-heading-l govuk-!-font-weight-bold">Find a claim</a>
              </li>
            </ul>
          </div>
        </details> -->




    </div>
  </div>

{% endblock %}
