
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Contact details
      </h1>

      <form class="form" method="post" novalidate>


      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
      {% from "govuk/components/input/macro.njk" import govukInput %}


      {% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "Correspondence address",
    classes: "govuk-fieldset__legend--s"
  }
}) %}

  {{ govukInput({
    label: {
      html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
    },
    id: "address-line-1",
    name: "address-line-1",
    autocomplete: "address-line1"
  }) }}

  {{ govukInput({
    label: {
      html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
    },
    id: "address-line-2",
    name: "address-line-2",
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "address-town",
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "more-info-postcode",
    name: "more-info-postcode",
    value: data['address-postcode'],
    autocomplete: "postal-code"
  }) }}


  {{ govukInput({
    label: {
      text: "Telephone number (optional)"
    },
    classes: "govuk-input--width-10",
    id: "more-info-tel-no",
    name: "more-info-tel-no",
    value: data['tel-no'],
    autocomplete: "postal-code"
  }) }}

  {{ govukInput({
    label: {
      text: "Email address (optional)"
    },
    classes: "govuk-input--width-10",
    id: "more-info-email",
    name: "more-info-email",
    value: data['email'],
    autocomplete: "Email"
  }) }}
  

  

{% endcall %}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
