
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Claimant details</h1>
  
  <dl class="govuk-summary-list govuk-!-margin-bottom-0">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['claimant-name'] }}
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key govuk-!-width-one-half">
        National Insurance number
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['claimant-nino'] }}
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['claimant-dob'] }}
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['claimant-address'] }},<br> {{ data['claimant-address2'] }},<br> {{ data['claimant-address3'] }},<br> {{ data['claimant-postcode'] }}
      </dd>

    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        UK telephone number
      </dt>
      <dd class="govuk-summary-list__value">
        {{ data['claimant-contact-number'] }}
      </dd>

    </div>
  </dl>
  </section>
      
      
    <!--  
      
      <h1 class="govuk-heading-l">
        Claimant details
      </h1>

      <ul class="govuk-list">
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">Name: </span>{{ data['claimant-name'] }}
        </li>
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">National Insurance Number: </span>{{ data['claimant-nino'] }}
        </li>
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">Date of birth: </span>{{ data['claimant-dob'] }}
        </li>
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">Address: </span>{{ data['claimant-address'] }}, {{ data['claimant-postcode'] }}
        </li>
        <li>
          <span class="govuk-body govuk-!-font-weight-bold">Contact number: </span>{{ data['claimant-contact-number'] }}
        </li>
      </ul>

    -->

      <form class="form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "claimant-confirm",
        fieldset: {
          legend: {
            text: "Is this the correct claimant?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
