
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Contact details summary</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Correspondence address
      </th>
      <td class="govuk-table__cell">
         {{ data['claimant-address'] }},<br> {{ data['claimant-address2'] }},<br> {{ data['claimant-address3'] }},<br> {{ data['claimant-postcode'] }}
        </td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

      <th scope="row" class="govuk-table__header">
        Telephone number
      </th>
      <td class="govuk-table__cell">
        {{ data['claimant-contact-number'] }}
      </td>
      <td class="govuk-table__cell">  <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>--></td>
    

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Email address
      </th>
      <td class="govuk-table__cell">
        {{ data['claimant-email'] }}
      </td>
      <td class="govuk-table__cell">  <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>-->
    </td>
    </tr> 

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">
        Welsh language preference 
      </th>
      <td class="govuk-table__cell">
        {{ data['welsh-language-preference'] }} 
      </td>
      <td class="govuk-table__cell">  <!-- <a class="govuk-link" href="#">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>-->
    </td>
    </tr>


</tbody>
</table>

  
<form class="form" method="post" novalidate>

  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {{ govukRadios({
    classes: "govuk-radios--inline",
    name: "claimant-confirm",
    fieldset: {
      legend: {
        text: "Are these the correct details?",
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

  </form>

  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
