{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %} 

  <!-- Back button --> 

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %} 

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop"> 

    <form class="form" method="post" novalidate>

  <!-- Claims checking result -->


  <h1 class="govuk-heading-l">
    2 existing claims found  
  </h1>

  <p>
    This list shows all existing claims. You can manage claims or create a new claim.
  </p>

  <!-- Claim 1 -->

  {% from "govuk/components/table/macro.njk" import govukTable %} 

  <!-- To restrain the width -->

  <section id="claim-1" class="govuk-!-padding-top-6">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Claim 1</h2>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body" style="text-align: right;"><a href="/beta-private/iteration-32/start-a-claim/summary/1-existing-claim-1-closed.html" class="govuk-link">Manage</a></p>
    </div>
  </div>


<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two--thrids">
      Baby due date
    </dt>
    <dd class="govuk-summary-list__value">       
      20 June 2022       
    </dd>
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
      Claim decision 
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag">
      Allowed
      </strong>
    </dd> 
   
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
      Claim status  
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--grey">
      Closed
      </strong>
    </dd> 
   
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two--thrids">
      Claim received date
    </dt>
    <dd class="govuk-summary-list__value">
      09 April 2022      
    </dd>
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>
  </dl>
  </section>
 
  <!-- Claim 1 finishes --> 

  <hr class="govuk-section-break govuk-section-break--m">

  <!-- Claim 2 -->
  {% from "govuk/components/table/macro.njk" import govukTable %} 

  <!-- To restrain the width -->

  <section id="claim-2" class="govuk-!-padding-top-6"> 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m">Claim 2</h2>
    </div>
    <div class="govuk-grid-column-one-quarter">
      <p class="govuk-body" style="text-align: right;"><a href="/beta-private/iteration-32/start-a-claim/summary/1-existing-claim-2-allowed.html" class="govuk-link">Manage</a></p>
    </div>
  </div>


<dl class="govuk-summary-list govuk-!-margin-bottom-0">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two--thrids">
      Baby due date
    </dt>
    <dd class="govuk-summary-list__value">       
     {{ data['ma-baby-due-date'] }}
    </dd>
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
      Claim decision 
    </dt>
    <dd class="govuk-summary-list__value">
      {{govukTag({
        text: data['ma-decision']
      })}}
       </dd>
    
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>


  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two-thirds">
      Claim status  
    </dt>
    <dd class="govuk-summary-list__value">
      <strong class="govuk-tag govuk-tag--green">
      Active 
      </strong>
    </dd> 
   
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key govuk-!-width-two--thrids">
      Claim received date
    </dt>
    <dd class="govuk-summary-list__value">
      {{ data['ma-map-claim-date-received'] }}     
    </dd>
    <dd class="govuk-summary-list__actions">
     &nbsp;
    </dd>
  </div>
  </dl>
  </section>
   
    <!-- Claim 2 finishes -->
  
  <hr class="govuk-section-break govuk-section-break--l"> 

  {% from "govuk/components/button/macro.njk" import govukButton %}

  {{ govukButton({
    text: "Start a claim"
  }) }}
 
</form>
 

</div>
</div> 

 
{% endblock %}
