
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--h1 class="govuk-heading-l">Maternity Allowance start date</h1-->

      <form class="form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}



      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "whereDoYouLive",
        fieldset: {
          legend: {
            text: "What reasonable adjustment does the claimant need for letters?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "large",
            text: "Large print"
          },
          {
            value: "anotherFont",
            text: "Another font"
          },
          {
            value: "braille",
            text: "Braille"
          },
          {
            value: "audio",
            text: "Audio"
          },
          {
            value: "BSL",
            text: "British Sign Language"
          },
          {
            value: "anotherPaper",
            text: "Another paper colour"
          },
          {
            value: "easyRead",
            text: "Easy Read"
          },
          {
            value: "email",
            text: "Email"
          },
          {
            value: "MSWord",
            text: "Microsoft Word document"
          },
          {
            value: "PDF",
            text: "Accessible PDF with selectable text"
          }
        ]
      }) }}


      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
