
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!--h1 class="govuk-heading-l">Maternity Allowance start date</h1-->

      <form class="form" method="post" novalidate>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}




      {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "whereDoYouLive",
  fieldset: {
    legend: {
      text: "What font size does the claimant need?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
          {
            value: "s18",
            text: "Size 18"
          },
          {
            value: "s20",
            text: "Size 20"
          },
          {
            value: "s22",
            text: "Size 22"
          },
          {
            value: "s24",
            text: "Size 24"
          },
          {
            value: "s26",
            text: "Size 26"
          },
          {
            value: "s28",
            text: "Size 28"
          },
          {
            value: "s36",
            text: "Size 36"
          }
        ]
}) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
