
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate> 


        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}
        
        {% set dateHtml %}
        {{ govukDateInput({
          id: "enter-map-date",
          name: "entermapdate",
          type: "date",
          autocomplete: "date",
          spellcheck: false,
          classes: "govuk-!-width-one-half",
          label: {
            text: "Maternity Allowance start date"
          },
          hint: {
            text: "For example, 27 3 2007"
          }
        
        }) }}
        {% endset -%}  
        
        {% set adconeHtml %}
        {{ govukRadios({
          id: "adc-plus-one",
          name: "adcplusone",
          type: "adcone",
          autocomplete: false,
          classes: "govuk-!-width-one-third",
          label: {
            text: "Claimant wants to start maternity payments after the baby is born"
          }
        }) }}
        {% endset -%}    
 
        
        {{ govukRadios({
          name: "payments",
          fieldset: {
            legend: {
              text: "When does the claimant want their Maternity Allowance payments to start?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If the claimant wants their payments to start the day after their baby is born, you will need to contact them."
          },
          items: [
            {
              value: "date",
              text: "Enter date",              
              conditional: {
                html: dateHtml
              }
            },
            {
              value: "adcplusone",
              text: "Claimant wants to start payments after the baby is born",
              conditional: {
                html: adconeHtml
              }
            }
 
          ]
        }) }}       
 

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
