
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What are the new details for this week?
      </h1>

      <form class="form" method="post" novalidate>

        {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

        {{ govukDateInput({
          id: "change-week-start-date",
          namePrefix: "change-week-start-date",
          fieldset: {
            legend: {
              text: "Week start date"
            }
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "day",
              value: "27"
            },
            {
              classes: "govuk-input--width-2",
              name: "month",
              value: "2"
            },
            {
              classes: "govuk-input--width-4",
              name: "year",
              value: "2022"
            }
          ]
        }) }}

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukRadios({
          idPrefix: "change-source-of-earnings",
          name: "change-source-of-earnings",
          fieldset: {
            legend: {
              text: "Source of earnings information for " + data['ma-employer-1']
            }
          },
          items: [
            {
              value: "payslip",
              text: "Payslip"
            },
            {
              value: "rti",
              text: "RTI",
              checked: true
            }
          ]
        }) }}

        

        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          id: "cost",
          name: "cost",
          label: {
            text: "Week's earnings for " + data['ma-employer-1']
          },
          prefix: {
            text: "£"
          },
          classes: "govuk-input--width-5",
          spellcheck: false,
          value: data['ma-week-5-employer-1-amount']
        }) }}

        

        {% from "govuk/components/button/macro.njk" import govukButton %}

        <a href="../summary/2-rti-changed" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Save and Continue </a>
      </form>
      </form>

    </div>
  </div>

{% endblock %}
