
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-key-details-bar" aria-label="Key details">
  <div class="dwp-key-details-bar__key-details">
  <dl class="dwp-key-details-bar__top-block">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__primary">{{ data['claimant-name'] }}</dd>
      <dt class="govuk-visually-hidden">National Insurance Number:</dt>
      <dd class="dwp-key-details-bar__secondary">{{ data['claimant-nino'] }}</dd>
      <dt class="govuk-visually-hidden">Claim status:</dt>

  </dl>
  <dl class="dwp-key-details-bar__bottom-block">
      <dt>Date of birth:</dt>
      <dd>{{ data['claimant-dob'] }}</dd>
      <dt>Postcode:</dt>
      <dd>{{ data['claimant-postcode'] }}</dd>
      <dt>UK telephone number:</dt>
      <dd>{{ data['claimant-contact-number'] }}</dd>

  </dl>
  </div>
  </section>


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="1" aria-current="location">Decision and dates</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings">Employment and earnings</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-bank-details-and-payments">Bank details and payments</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-evidence-2-employers">Evidence</a>
                </li>

                <li class="moj-side-navigation__item moj-side-navigation__item--active ">
                  <a href="1-claim-history">Claim history</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ.html">Change of circumstance</a>
                </li>

              </ul>
            </nav>
          </nav>
          <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div>

        <div class="govuk-grid-column-three-quarters">

{% from "govuk/components/table/macro.njk" import govukTable %}

<section id="decision" class="govuk-!-padding-top-6">
<h2 class="govuk-heading-m">Claim history</h2>

<div class="dwp-timeline">

  <ol class="dwp-timeline__events">

  <li class="dwp-timeline__events--entry">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Decision changed</h2>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">by Gustavo Fring</p>
    <p class="govuk-caption-m">21 September 2023</p>
</li>


<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Bank details added</h2>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">by Tuco Salamanca</p>
  <p class="govuk-caption-m">5 July 2023</p>
</li>
<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Decision made</h2>
  <p class="govuk-caption-m">5 July 2023</p>
</li>

<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim created</h2>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">by Mike Ehrmantraut</p>
  <p class="govuk-caption-m">5 July 2023</p>
</li>
<li class="dwp-timeline__events--entry">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Claim received</h2>
  <p class="govuk-caption-m govuk-!-margin-bottom-1">by Hank Schrader</p>
  <p class="govuk-caption-m">10 June 2023</p>
</li>
  </ol>
  </div>


</section>
{% endblock %}
