
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Change employer details</h1>
  
    <table class="govuk-table">

    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Employment start date</th>
      <td class="govuk-table__cell">12 January 2022</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../payment-override/employment-start">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Still with employer</th>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../payment-override/still-with-employer">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Employment end date</th>
      <td class="govuk-table__cell">Ongoing</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../payment-override/employment-end">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>


</tbody>
</table>

  
  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
