 
{% extends "layout-summary.html" %}
{% set bodyAttributes = { id: "summary-screen" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

  {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
  {% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}

<section class="dwp-quick-reference dwp-quick-reference--alternative" aria-label="Case information">
  <dl class="dwp-quick-reference__block">
  <dt class="dwp-quick-reference__label govuk-visually-hidden">Name:</dt>
  <dd class="dwp-quick-reference__primary">{{ data['claimant-name'] }}</dd>
  <dt class="dwp-quick-reference__label dwp-quick-reference__label--primary">National Insurance number:</dt>
  <dd class="dwp-quick-reference__secondary">{{ data['claimant-nino'] }}</dd>
  <dt class="dwp-quick-reference__label">Claim status:</dt>
  <dd class="dwp-quick-reference__status">
    <strong class="govuk-tag govuk-tag--green">
      Open 
    </strong>
  </dd>
  </dl>
  </section>


      {{ govukBackLink({
        text: "Back",
        href: "javascript:history.go(-1)"
      }) }}
    {% endblock %}


  {% block content %}


      <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-quarter">

          <nav class="dwp-sub-navigation govuk-!-margin-top-0" aria-label="Sub navigation">
            <nav class="moj-side-navigation" aria-label="Side navigation">
              <ul class="moj-side-navigation__list">
                <li class="moj-side-navigation__item">
                  <a href="1-decision-allowed-Sc1.html" aria-current="location">Decision and dates</a>
                </li>
                <li class="moj-side-navigation__item moj-side-navigation__item--active">
                  <a href="1-preferences-allowed-Sc1.html">Claimant information</a>
                </li>

                <li class="moj-side-navigation__item">
                  <a href="1-bank-details-and-payments-allowed-Sc1.html">Payments</a>
                </li> 
                <li class="moj-side-navigation__item">
                  <a href="1-employment-and-earnings-allowed-Sc1.html">Employment and earnings</a>
                </li>


                <li class="moj-side-navigation__item">
                  <a href="1-evidence-allowed-Sc1.html">Evidence</a>
                </li> 
                <li class="moj-side-navigation__item">
                  <a href="1-change-of-circ-allowed-Sc1.html">Change of circumstance</a>
                </li>
                               

                <li class="moj-side-navigation__item">
                  <a href="1-overlays-deductions-allowed-Sc1.html">Overlaps and deductions</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-claim-history-allowed-Sc1.html">Claim history</a>
                </li>
                <li class="moj-side-navigation__item">
                  <a href="1-decision-allowed-Sc1.html">Notes</a>
                </li>




              </ul>
            </nav>
          </nav>
          <p>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          </p>

        </div> 

        {% from "govuk/components/table/macro.njk" import govukTable %}

        <div class="govuk-grid-column-three-quarters"> 

          <!-- Date of birth --> 
        
 

          <section id="bank-details" class="govuk-!-padding-top-6">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Claimant details</caption>

           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
             <th scope="row" class="govuk-table__header">Name</th>
             <td class="govuk-table__cell">{{ data['claimant-name'] }}</td>
             </tr> 
             
             <tr class="govuk-table__row">
             <th scope="row" class="govuk-table__header">Date of birth</th>
             <td class="govuk-table__cell">{{ data['claimant-dob']}}</td>
           </tr> 

 

           </tbody>
          </table>
          </section>



          <!-- contact-preference-details -->

          <section id="contact-preference-details" class="govuk-!-padding-top-6">

            <h2 class="govuk-heading-m" id="contact-preference-details">Contact preference details</h2>

            <table class="govuk-table">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Correspondence address</th>
                <td class="govuk-table__cell"><p class="govuk-body govuk-!-margin-bottom-2">25 Park Avenue,</p><p class="govuk-body govuk-!-margin-bottom-2">Newcastle</p><p class="govuk-body govuk-!-margin-bottom-1">NE5 8KR</p>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Mobile number</th>
                <td class="govuk-table__cell">07895467510</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Landlide number</th>
                <td class="govuk-table__cell">None</td>
              </tr> 
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Email address</th>
                <td class="govuk-table__cell">lucindadavies@gmail.com</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Spoken language preference</th>
                <td class="govuk-table__cell">English</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Written language preference</th>
                <td class="govuk-table__cell">English</td>
              </tr>
                                
          </table>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Update contact details
            </button></a>  

          </section> 
          
          
          <!-- Bank details  -->            

         <section id="bank-details" class="govuk-!-padding-top-6">
            <table class="govuk-table">
               <caption class="govuk-table__caption govuk-table__caption--m">Bank details</caption>

           <tbody class="govuk-table__body">
             <tr class="govuk-table__row">
             <th scope="row" class="govuk-table__header">Name on the account</th>
             <td class="govuk-table__cell">{{ data['claimant-name'] }}</td>
             </tr> 
             
             <tr class="govuk-table__row">
             <th scope="row" class="govuk-table__header">Sort code</th>
             <td class="govuk-table__cell">{{ data['sort-code'] }}</td>
           </tr>

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Account number</th>
        <td class="govuk-table__cell">{{ data['account-number'] }}</td>
      </tr>

       </tbody>
     </table> 

  <form class="form" method="post" novalidate>

    <input type="hidden" name="answers-checked" value="true">

    {{ govukButton({
      text: "Edit bank details"
    }) }}

  </form>
  </section> 

    <!-- Residency details  -->

    <section id="residency-details" class="govuk-!-padding-top-6">

      <h2 class="govuk-heading-m" id="residency-details">Residency details</h2>

      <div class="govuk-hint">
        The correspondence address maybe different from the residential address. You can edit the residency details at any time. 
      </div>

      <a href="#"><button class="govuk-button" data-module="govuk-button">
        Manage residency details 
      </button></a>

</section>

  <!-- Reasonable adjustments -->

       <section id="reasonable-adjustments" class="govuk-!-padding-top-6"> 

            <h2 class="govuk-heading-m" id="reasonable-adjustments">Reasonable adjustments</h2>

            <div class="govuk-hint">
              There are no reasonable adjustments for this claim.
            </div>

            <a href="#"><button class="govuk-button" data-module="govuk-button">
              Add reasonable adjustment
            </button></a>

            </section> 
            


</div>

 


{% endblock %}
