classes: "govuk-radios--inline",
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

 
      {% from "govuk/components/input/macro.njk" import govukInput %}

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="event-name">
            Enter the reason for disallowing this claim 
          </label>
          <div id="with-hint-hint" class="govuk-hint">
            Do not include personally identifiable information about the claimant, like their medical or credit card details.
          </div>
 
 
        </h1>
 
      </div> 

      <div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxwords="300">
        
        <textarea class="govuk-textarea govuk-js-character-count" id="word-count" name="wordCount-disallow" rows="5" aria-describedby="word-count-info"></textarea>
        <div id="word-count-info" class="govuk-hint govuk-character-count__message">
          You can enter up to 300 words
        </div>
      </div>

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
