
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Suspension of payments details</h1>
  
    <table class="govuk-table">

 
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Type</th>
     
      <td class="govuk-table__cell">Claim under investigation</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="./payment-suspend-type-radio-Sc1.htmls">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
 
 
 
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date reported</th>
      <td class="govuk-table__cell">24 May 2024</td>
      <td class="govuk-table__cell"> </td>
    </tr>

</tbody>
</table>

  
  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }} 

 

    </form>

  </div>
</div>

{% endblock %}
