
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/change-answer" method="post">

        {{ govukRadios({
          name: "change-type",
          value: data['change-type'],
          fieldset: {
            legend: {
              text: "Select the change of circumstance you want to add to this claim
              ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "claimStop",
              text: "Stop a claim
              "
            },
            {
              value: "claimReduce",
              text: "Reduce a claim"
            },
            {
              value: "claimRestart",
              text: "Restart a claim"
            }
          ]
        }) }}
        
        {{ govukButton({
          text: "Save and continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}
