
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Select the type of closure you want to add to this claim
          </h1>
        </legend>

      {% from "govuk/components/select/macro.njk" import govukSelect %}
      

      {{ govukSelect({
    
        items: [
          {
            value: "End-claim",
            text: "End claim"
           
          },
          {
            value: "claimant-death",
            text: "Claimant Death"
            
          },
          {
            value: "prison-detention",
            text: "Prison/Detention"
          },
          {
            value: "move-abroad",
            text: "Move abroad"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
