
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Change of circumstance details</h1>
  
    <table class="govuk-table">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Previous Maternity Allowance Period end date</th>
      <td class="govuk-table__cell">21 March 2024</td>
      <td class="govuk-table__cell"> </td>
    </tr>
      <th scope="row" class="govuk-table__header">New Maternity Allowance Period end date</th>
      <td class="govuk-table__cell">17 September 2023</td>
      <td class="govuk-table__cell">  </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Change type</th>
      <td class="govuk-table__cell">Stop a claim</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Reason</th>
      <td class="govuk-table__cell">Fraudulent claim</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Entire claim fraudulent</th>
      <td class="govuk-table__cell">Yes</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-fraud-entire-claim.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Date reported</th>
      <td class="govuk-table__cell">21 September 2023</td>
      <td class="govuk-table__cell"> </td>
    </tr>

</tbody>
</table>

  
  </section>

  <form class="form" method="post" novalidate>





    </form>

  </div>
</div>

{% endblock %}
