
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}




      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

{% from "govuk/components/table/macro.njk" import govukTable %}

<section id="decision" class="govuk-!-margin-bottom-9">
<h1 class="govuk-heading-l">Employer details</h1>

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Employer name"
      },
      value: {
        text: "ARGOS LTD"
      },
      actions: {
        items: [
          {
            href: "#",
            text: "",
            visuallyHiddenText: "payslip frequency"
          }
        ]
      }
    }
  ]
}) }}

</section>
</div>

<div class="govuk-grid-column-full">
<section id="payslips" class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">Payslip details</h2>

<p>Adding payslip details for a week with RTI data will replace the existing data.</p>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Date (Day/Month/Year)</th>
        <th scope="col" class="govuk-table__header app-custom-class">Payment amount</th>
        <th scope="col" class="govuk-table__header app-custom-class">Payment frequency</th>
        <th scope="col" class="govuk-table__header app-custom-class">  </th>
      </tr>
    </thead>







<tbody class="govuk-table__body">
  <tr class="govuk-table__row">

    <td class="govuk-table__cell"><div class="date-payslip">
        <div class="govuk-date-input" id="date-payslip">
          <div class="govuk-date-input__item">
            <div id="payslips-table" class="payslips-table">
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id=" " name="date-payslip-day" type="text" value="" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div id="payslips-table" class="payslips-table">
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="" name="date-payslip-month" type="text" value="" inputmode="numeric">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div id="payslips-table" class="payslips-table">
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-payslip-year" name="date-payslip-year" type="text" value="" inputmode="numeric">
            </div>
          </div>
        </div>
    </td>


    <td class="govuk-table__cell"><div id="payslips-table" class="payslips-table">
      <div class="govuk-input__wrapper">
        <div class="govuk-input__prefix" aria-hidden="true">£</div>
        <input class="govuk-input govuk-input--width-5" id="cost" name="cost" type="text" value="" spellcheck="false">
      </div>
    </div></td>


    <td class="govuk-table__cell"><div id="payslips-table" class="payslips-table">
      <select class="govuk-select" id="sort" name="sort">
        <option value="updated" selected>Select</option>
        <option value="published">Weekly</option>
        <option value="updated">Every 2 weeks</option>
        <option value="views">Every 4 weeks</option>
        <option value="comments">Monthly</option>
        <option value="comments">Anualy</option>
        <option value="comments">One-time payment</option>
      </select>
    </div></td>


<td class="govuk-table__cell"><div id="payslips-delete" class="payslips-table">
  <p class="govuk-body"><a href="#" class="govuk-link">Delete</a></p>
</div></td>
</tr>
</tbody>

</table>

  <p class="govuk-body"><a href="../payslip/add" class="govuk-link">Add a payslip to ARGOS LTD</a></p>



  
  </section>

  <a href="../payslip/summary" role="button" draggable="false" class="govuk-button" data-module="govuk-button" formnovalidate>Save and Continue
  </a>

      </form>

    </div>
  </div>

{% endblock %}
