
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Correspondence address details</h1>
  
    <table class="govuk-table">


    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address line 1</th>
      <td class="govuk-table__cell">Quarry House</td>
      <td class="govuk-table__cell">   <!--<a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Address line 2</th>
      <td class="govuk-table__cell">Quarry Hill</td>
      <td class="govuk-table__cell">   <!--<a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Town or city</th>
      <td class="govuk-table__cell">Leeds</td>
      <td class="govuk-table__cell">  <!--<a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Postcode</th>
      <td class="govuk-table__cell">LS2 7UA</td>
      <td class="govuk-table__cell">   <a class="govuk-link" href="../change-of-circ/change-select-define-radio.html">
        Change<span class="govuk-visually-hidden"> name</span>
      </a></td>
    </tr>

</tbody>
</table>

  
  </section>

  <form class="form" method="post" novalidate>



    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue"
    }) }}

    </form>

  </div>
</div>

{% endblock %}
