
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <thead class="govuk-table__head">
    <div class="govuk-grid-column-full">
      
      
<section id="decision" class="govuk-!-margin-bottom-6">
  <h1 class="govuk-heading-l">Unassigned earnings details</h1>
  <p>Assign periods to all earnings below to progress the claim</p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
<tr class="govuk-table__row">
  <tr class="govuk-table__row">
    <th scope="col" class="govuk-table__header app-custom-class">Date (Day/Month/Year)</th>
    <th scope="col" class="govuk-table__header app-custom-class">Payment amount</th>
    <th scope="col" class="govuk-table__header app-custom-class">Reason</th>
    <th scope="col" class="govuk-table__header app-custom-class">  </th>
  </tr>
</thead>
<tr class="govuk-table__row">
      <td class="govuk-table__cell">21 October 2023</th>
      <td class="govuk-table__cell">£5000.00</td>
      <td class="govuk-table__cell">IR - Irregular</td>
      <td class="govuk-table__cell"><p class="govuk-body"><a href="/beta-private/iteration-29/find-a-claim/summary/allocated/reassigned-start" class="govuk-link">Assign earnings period</a></p></td>
    </tr>
    <!--<td class="govuk-table__cell">31 December 2023</th>
      <td class="govuk-table__cell">£500.00</td>
      <td class="govuk-table__cell">MA - Annual</td>
      <td class="govuk-table__cell"><p class="govuk-body"><a href="/beta-private/iteration-29/find-a-claim/unallocated/unallocated-start.html" class="govuk-link">Assign earnings period</a></p></td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">1 March 2024</th>
        <td class="govuk-table__cell">£2000.00</td>
        <td class="govuk-table__cell">Overlapping month</td>
        <td class="govuk-table__cell"><p class="govuk-body"><a href="/beta-private/iteration-29/find-a-claim/unallocated/unallocated-start.html" class="govuk-link">Assign earnings period</a></p></td>
      </a></td>-->
    </tr>


</tbody>
</table>

  
  </section>



  </div>
</div>

{% endblock %}
