
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Find a claim
      </h1>

      <form class="form" method="post" novalidate>

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "National Insurance number"
        },
        classes: "govuk-input--width-10",
        id: "nino",
        name: "nino",
        autocomplete: "nino",
        spellcheck: false
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Search"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
