classes: "govuk-radios--inline",
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" method="post" novalidate>

      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {{ govukCheckboxes({
        classes: "govuk-radios",
        idPrefix: "employment-type",
        name: "employment-type",
        fieldset: {
          legend: {
            text: "What type of employment does the claimant have?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "employed",
            text: "Employed"
          },
          {
            value: "self-employed",
            text: "Self-employed"
          },
          {
            value: "agency",
            text: "Agency worker"
          }
        ]
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
